@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --header-grey: #121212;
    /* Primary BG bör vara din bakgrundsfärg */
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-bg);
    max-width: 100%;
    color: var(--primary-white);
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}
.center {
    margin: 0 auto;
}

.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: yellow;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

.content-wrapper--body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    align-self: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: var(--text-yellow);
}

.card__link{
    text-decoration: none;
    color: var(--primary-white);
}

.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.card{
    width: 250px;
    background-color: var(--text-yellow);
    padding: 0.3rem;
    position: relative;
    border-radius: 3px;
}

.card-top{

}
.card-top__img{
 width: 100%;
}

.card-top__heart{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--primary-grey);
    padding: .3rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.card-bottom{

}

.card-bottom__title{
    color: var(--primary-bg);
    padding-left: 0.3rem;
}

#contentWrapperMovie{
    display: flex;
    justify-content: center;
}

.movie-information{
    display: flex;
    width: 80%;
    max-width: 1000px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 
        0px -20px 20px -20px rgba(181, 181, 181, 0.45),
        20px 0px 20px -20px rgba(181, 181, 181, 0.45),
        0px 20px 20px -20px rgba(181, 181, 181, 0.45),
        -20px 0px 20px -20px rgba(181, 181, 181, 0.45);
    
}

.movie-information__left{
    display: flex;
    align-items: center;
}

.movie-information__img{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.movie-information__title{
    margin-bottom: 0;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.movie-information__container--same-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.movie-information__rating{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-top: 1px solid rgba(181, 181, 181, 0.45);
    border-bottom: 1px solid rgba(181, 181, 181, 0.45);
}

.movie-information__rating-text{
    color: #ffffff;
}



.movie-information__blurb{
    padding: 1rem;
}

.movie-information__actors{
    border-top: 1px solid rgba(181, 181, 181, 0.45);
    padding: 1rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    color: var(--text-yellow);
}

@media screen and (max-width: 750px) {
    .movie-information{
        flex-direction: column;
    }
    .movie-information__left{
        width: 100%;
    }
    .movie-information__img{
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
    }
}

.d-none {
    display: none;
}


